nav {
    background-color: #333;
    border-radius: 20px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
    width: 25%;
    max-width: 25%;
    text-align: center;
  }
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: black;
  }
/*Post Input*/
.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
}


label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.input-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.input-container input, .input-container textarea {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  font-size: 18px;
}

#feelings-input {
  height: 150px;
}

#post-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.recentpost {
  max-width: 1000px;
  text-align: center;
}

.display-container {
  max-width: 400px;
  margin: 20px auto;
  margin-left: 10px;
  margin-top: 100px;
}

.display-container .post {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.display-container .post p {
  margin: 0;
}

.display-container .post .name {
  font-weight: bold;
  font-style: italic;
  color: #777;
}

.display-container .post .date {
  font-style: italic;
  color: #777;
}
.counter-container {
  float: right;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}


.delete-button {
  background-color: #cc3333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

/*Toggle dark mode stuff*/
body {
  background-color: white;
  color: black;
}

body.dark-mode {
  background-color: rgb(62, 57, 57);
  color: white;
}
.dark-mode {
  background-color: black;
  color: white;
}


.dark {
  /* styles for dark mode */
  background-color: rgb(43, 32, 32);
  color: white;
}

#dark-mode-toggle-blog {
  /* button styles */
  border-radius: 12px;
  padding: 8px;
  background-color: #ccc;
  border: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#dark-mode-toggle-blog img {
  /* icon styles */
  width: 24px;
  height: 24px;
}

